* {
  font: 10px "Monaco";
  color: black;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  color: black;
  font-size: 10px;
}

.main-header {
  background-color: white;
}

a {
  color: rgb(255, 0, 0);
  font: 15px "Georgia"
}

.logout {
  color: rgb(92, 91, 91)
}
.nombre {
  font: 40px 'Copperplate';
  color: red
}

.main-header_credit-link{
  font-size: 12px;
}

.error {
  color:red
}


