* {
  font: 16px "Monaco";
  color: black
}

body {
  background-color: lightgrey;
  color: black;
}

.main-header {
  background-color: white;
}

a {
  color: rgb(92, 91, 91);
  font: 20px "Georgia"
}

.nombre {
  font: 40px 'Copperplate';
  color: red
}


